<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="static/custom.css" />
</head>
<html>
  <body>
    <div class="content">
      <p class="hero-msg">
        Esta aplicación surge para probar la validación con el
        <strong>Sistema Centralizado de Autenticación</strong> del Gobierno de
        Canarias. Si pulsas en el siguiente botón, se te redirigirá al CAS y
        volverás a esta web visualizando los atributos que se almacenan de tu
        cuenta.
      </p>
      <div class="go-cas">
        <a href="/details">Llévame al CAS!</a>
      </div>
    </div>
  </body>
</html>
